body {
    padding: 0;
    text-align: center;
  }
  
  .game-intro {
    position: fixed;
    z-index: 1;
    float: middle;
    padding: 0% 10%;
    left: calc(50% - 350px);
  }
  
  .game-intro p {
      
    font-size: 18px;
    font-family: "Verdana"
    
  }
  
  .logo-img {
    width: 350px;
  }
  
  .arrows-img {
    width: 150px;
  }
  
  body button {
    font-size: 30px;
    background-color: #870007;
    color: #fff;
    padding: 20px 40px;
    border: 0;
    box-shadow: 0;
    border-radius: 5px;
    margin-bottom: 20px;
  }
  
  #game-board {
    position: absolute;
    float: middle;
    text-align: center;
    left: calc(50% - 350px);
  }
  canvas {
    
     float: middle;
  }
  #myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
  }
  audio{
      visibility: hidden;
  }
  .container{
    display: flex;
    flex-direction: column;
  }
  #selectList{
    height: 50px
  }
  #select-alert{
    display: none;
  }
  #game-title{
    font-family: 'Monoton', cursive;
    color: white;
    font-size: 100px;
  }